VITE_SUPABASE_URL=https://gjtfmjxtvnrdmspwsnqy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdqdGZtanh0dm5yZG1zcHdzbnF5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2MTY3NjgsImV4cCI6MjA5MjE5Mjc2OH0.jGk-Nagcp3wfE2TxjhMrQW5uS9w8AEWiPpBrR9I621s
VITE_TMDB_API_KEY=7656267944e3ca92471a7d79fc350450
